<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.donggyukim.teamseach">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".teamInfo" />
        <activity android:name=".signUp" />
        <activity android:name=".enroll" />
        <activity android:name=".reform" />
        <activity android:name=".companyList" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/actions" />

        <activity android:name=".select" />
        <activity android:name=".admin_select" />
        <activity android:name=".updateInfo" />
        <activity android:name=".viewUser" />
        <activity android:name=".detailUser" />
        <activity android:name=".companyAdmin" />
        <activity android:name=".companyInsert" />
        <activity android:name=".companyDelete" />
        <activity android:name=".companyUpdate" />
        <activity android:name=".companyUpdateDetail"></activity>
    </application>

</manifest>